@import url('https://fonts.googleapis.com/css?family=Overpass+Mono&display=swap');

body {
  margin: 0vw 5vw 0px 5vw;
  padding: 10px;
  font-family: 'Overpass Mono', monospace, sans-serif;
  font-size: 3rem;
  background-image: url("https://i.pinimg.com/1200x/0b/5a/64/0b5a64ee9deba25c9d0ef948522914ec.jpg");
  color: white;
  text-align:center;
  font-weight:bolder;
}

body * {
  box-sizing: border-box;
}

h3 {
  font-weight:bold;
  border-bottom: 5px groove black;
  margin-top: 0;
  text-align: center;
}

h4 {
  margin: 0;
}

#outputElement {
  padding: 2vmin;
}


#contentGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding: 20px;
  font-size: 1.5rem;
}

.contentItem {
  display: flex;
  flex-direction: column;
  padding: 1vmin;
  color: white;
  border: 10px ridge black;
  border-radius: 2px;
  height: 100%;
  border-left:
}

.contentItem * {
  /* background-color: #00ff00; */
}

.contentItem ul {
  flex-grow: 1;
}

.footerImageContainer {
  background-image: url('');
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 100%;
}

.footerImage {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}
